@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@model List<CompanyViewModel>

<!DOCTYPE html>
<html>
<head>

    <title>Company List</title>
</head>
<body>
    @Html.Partial("_ViewMenu")
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- <link rel="stylesheet" href="Index.css/> -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-3 col-xs-12">
                                <h4 class="title">Kişiler<span></span></h4>
                            </div>
                            <div class="col-sm-9 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" class="form-control" placeholder="Arayın">
                                    <button class="btn btn-default" title="Düzenle"><i class="fa fa-sync-alt"></i> Düzenle</button>
                                    <button class="btn btn-default" title="Ekle"><i class="fa fa-file-pdf"></i> Ekle</button>
                                    <button class="btn btn-default" title="Sil"><i class="fas fa-file-excel"></i> Sil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Şirket İsmi</th>
                                    <th>Şirket Konumu</th>
                                    <th>Şirket Telefonu</th>
                                    <th>Web Sitesi</th>
                                    <th>Şirket Aktif mi? </th>
                                    <th>Eklenme Tarihi</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var company in Model)
                                {
                                    <tr>
                                        <td>@company.CompanyName</td>
                                        <td>@company.CompanyLocation</td>
                                        <td>@company.CompanyPhone</td>
                                        <td>@company.WebSite</td>
                                        <td>@company.IsActive</td>
                                        <td>@company.CreateDateTime</td>       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>